*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: inherit;
    background-attachment: local;
    background-position-x: right;
    background-size: cover;
}

nav{
    align-items: center;
    padding: 40px 10%;
    height: 20vh;
    color: #ffffff;
    background-color: black;
    

    
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    font-weight: 600;
    justify-content: space-between;
    
}
nav ul li:hover{
    color: red;
    
}
button{
    background-color: red;
    padding: 4px 16px ;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: fit-content;
}
button:hover{
    background-color: black;
    color: white;
    border: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-section h1{
    font-size: 80px;
    color: #ffffff;
    max-height: 846px;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    
}
.main-section button{
    padding: 15px 20px;
    font: size 15px;
    color: white;
    font-weight: 500;
    border: none;
    background-color:red;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;   
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.main-section button:hover{
   background-color: black;
   color: white;
   border:none;
}
footer{
    display: flex;
    padding: 150px 0;
   justify-content: flex-end;
}

